<app-analysis-filters></app-analysis-filters>

<div class="top-zone">
  <div class="chart-slot half">
    <app-chart-host  *ngIf="chartService.topCharts()[0] === 1" [chartId]="1" title="Chart 1: Average grades over time for selected IDs (per trainee)" [trainees]="traineesForCharts()" [groupBy]="'id'"></app-chart-host>
  </div>
  <div class="chart-slot half">
    <app-chart-host  *ngIf="chartService.topCharts()[1] === 3" [chartId]="3" title="Chart 3: Average grades per subject for selected IDs" [trainees]="traineesForSubjectChart()" [groupBy]="'subject'"></app-chart-host>
  </div>
</div>

<div class="bottom-zone">
  <app-hidden-chart-button  class="full"></app-hidden-chart-button>
</div>
